.nav {
    background-color: rgb(202, 202, 202);
    height: 100vw;
    margin-left: 0vw;
    width: 25%;
    box-shadow: .2vw 0vw 2vw 1vw rgb(202, 202, 202);
    border-right: .3vw solid grey;
}
.pluh {
    margin-left: 0vw;
}
.pluh2 {
    margin-left: 0vw;
    padding-left:0vw;
}
.homeimg {
    height: 4vw;
    margin-top: .5vw;
}
.homeimg2 {
    height: 5vw
}

.homevid {
    width: 100vw;
    height: 50vw;
}
.pitthome {
    text-align: center;
    width: 80vw;
    margin-left: 10vw;
}

.carousel-item {
  margin-top: 2vw;
  width: rem;
}



/* gotten from https://blog.hubspot.com/website/css-fade-in */
.bod {
    background: #FFB81C ;
    animation: fadeBackground 20s infinite; 
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeBackground {
    0% { background-color: #FFB81C ; }
    50% { background-color: #003594 ; }
    100% { background-color: #FFB81C ; }
  }
  .fade-in-image { animation: fadeIn 10s; }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

.floating-img{
  transform: translateY(-2%);
  animation: floater 5s infinite;
}


@keyframes floater {
  0%{transform: translateY(-2%);transition: ease 5s;}
  50%{transform: translateY(2%);transition: ease 5s;}
}

.slidetext{
  text-align: center;
  text-shadow: 0vw 0vw 2vw  #0047ca;
  color:#FFB81C ; 
   font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: vw;

}

.animate__animated.animate__fadeInUp {
  --animate-duration: 5s;
}